{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=mydevdatabase;Username=mydevusername;Password=mydevpassword"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
